*{
    margin:0;
    padding:0;
    list-style:none;
}
html,body,#app{
    width:100%;
    height:100%;
}
/* .wrapper{
    display:flex;
}
#left{
    flex:2;
    background:#022050;
}
#right{
    flex:8;
}
#left a{
    display:block;
    width:100%;
    height:50px;
    text-align:center;
    line-height:50px;
    text-decoration:none;
    color:#fff;
}
#left .router-link-active{
    background:#2873ff
} */